<div class="container">
    <div class="text-bg-secondary ">
        <h1>Library Search</h1>
        <input type="text" [(ngModel)]="query" placeholder="Search for books...">
        <button type="button" class="btn btn-primary" (click)="onSearch(query)">Search</button>
        <div *ngIf="searchResults.length > 0">
            <ul>
                <li *ngFor="let book of searchResults">
                    <h3>Title: {{book.name}}</h3>
                    <h4>Author: {{book.author}}</h4>
                    <h4>Description: {{book.description}}</h4>
                    <!-- if book is currently checked out, don't allow user to checkout the book -->
                    <div *ngIf="book.checkedOutName == ''">
                        <h4 >Available: Yes</h4>
                        <button type="button" class="btn btn-success" (click)="onCheckOut(book.name)">Checkout</button>
                    </div>
                    <div *ngIf="book.checkedOutName != ''">
                        <h4 >Available: No</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>